.contactpagewrapper {
	margin-top: 50px;
	text-align: center;
}
.contactpagewrapper.radius {
	border-top-left-radius: 25px;
}
.contactpagewrapper .contactme {
	margin: 8px;
}
.contactpagewrapper .contactme:hover {
	cursor: pointer;
}
.contactpagewrapper .contactme img {
	display: inline;
	width: 40px;
}
.contactpagewrapper .contactme p {
	position: relative;
	display: inline;
	top: -5px;
}

.contactpagewrapper .contactform {
	padding: 4px 8px 8px 8px;
	min-width: 266px;

	text-align: center;
}
.contactpagewrapper .contactform input:not(.answer),
.contactpagewrapper .contactform textarea {
	display: inline-block;
	width: 70%;

	margin: 3px 500px 3px 15%;
	padding-left: 5px;
}
.contactpagewrapper .contactform input {
	height: 20px;
	width: 252px;
	border: 1px solid #3e4247;
}
.contactpagewrapper .contactform textarea {
	height: 500px;
	width: 70%;
	border: 1px solid #3e4247;

	margin: 3px 500px 3px 15%;
}
.contactpagewrapper .contactform h2 {
	margin: 0;
	padding-left: 4px;
}
.contactpagewrapper .contactform p.t {
	margin: 0;
	margin-bottom: 15px;
	padding-left: 4px;
}
.contactpagewrapper .contactform .cclose {
	font-size: 40px;
	position: absolute;
	margin-top: -10px;
}
.contactpagewrapper .contactform .cclose:hover {
	cursor: pointer;
	color: red;
}
.contactpagewrapper .bottom button,
.contactpagewrapper .bottom p,
.contactpagewrapper .bottom input {
	display: inline;
}
.contactpagewrapper .bottom {
	margin-top: 5px;
	margin-right: 4px;
}
.contactpagewrapper .bottom button {
	position: relative;
	display: block;
	left: calc(50% - 100px);

	height: 25px;
	width: 200px;

	margin-top: 10px;
	
	background: transparent;
	border-radius: 5px;
	color: black;
}
.contactpagewrapper .bottom button:hover {
	cursor: pointer;
}
.contactpagewrapper .bottom .answer {
	text-align: center;
	width: 20px;
}
.contactpagewrapper .bottom .answer::-webkit-inner-spin-button,
.contactpagewrapper .bottom .answer::-webkit-outer-spin-button {
	-webkit-appearance: none; 
}
.contactpagewrapper .confirmmessage {
	margin-left: 10px;
}
.contactpagewrapper .confirmmessage a {
	margin-top: 10px;
	font-weight: bolder;
}
.contactpagewrapper .confirmmessage a:hover {
	cursor: pointer;
	color: rgb(0, 169, 227);
}