@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('/assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

html, body {
	font-family: "Roboto", serif;
	background-color: #3b5669;

	width: 100vh;
	overflow-x: hidden
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}