.serviceswrapper {
	width: 100%;

	margin-top: 50px;
}

.serviceswrapper .subtext {
	margin-bottom: 30px;

	text-align: justify;
	text-align-last: center;
}

@media only screen and (max-width: 720px) {
	.serviceswrapper .subtext {
		width: 90%;
		margin-left: 5%; 
	}
}
@media only screen and (min-width: 721px) {
	.serviceswrapper .subtext {
		width: 700px;
		margin-left: calc(50% - 350px);
	}
}
@media only screen and (min-width: 1000px) {
	.serviceswrapper div.service {
		width: 900px;
		margin: 0 0 20px calc(50% - 450px);
	}
}

.serviceswrapper .service {
	width: 90%;
	height: auto;

	margin: 0 0 20px 5%;

	background-color: rgb(224, 234, 240);
	border: 2.5px solid rgb(78, 92, 117);

	text-align: left;
}
.serviceswrapper .service .insideservice {
	width: calc(100% - 20px);
	height: auto;

	margin: 10px 0 0 10px;
}
.serviceswrapper .service p {
	margin: 10px 5px 5px 5px;
}
.serviceswrapper .service ul {
	margin: 5px 5px 20px 5px;
}
.serviceswrapper .service h2 {
	padding-top: 10px;
	margin: 0;

	text-align: center;
}